
html{
  scroll-behavior: smooth;
  overflow-behavior: smooth; /* Agregar esta propiedad para navegadores que la admitan */
}

body{
    background-color: #222222;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    overscroll-behavior-y: contain;
}

/* general */
.title-section{
    position: relative;
    margin: 2% 0;
}

.title-section::before,
.title-section::after {
  content: '';
  position: absolute;
  top: 50%; /* Posicionamos las líneas en la mitad vertical del título */
  width: 150%; /* Ancho de las líneas (puedes ajustarlo según tus preferencias) */
  height: 2px; /* Altura de las líneas (puedes ajustarlo según tus preferencias) */
  background-color: white; /* Color de las líneas (puedes ajustarlo según tus preferencias) */
}

.title-section::before {
  left: 0; /* Línea izquierda */
  transform: translateX(-130%); /* Centramos la línea izquierda al principio del título */
}

.title-section::after {
  right: 0; /* Línea derecha */
  transform: translateX(130%); /* Centramos la línea derecha al final del título */
}

.section-text{
    padding: 0 15%;
    text-align: center;
}
/* header */

header{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

#video-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

#video-container video{
    width: 100%;
    height: 100%;
    filter: blur(3px);
    object-fit: cover;
    opacity: 0.7;
    z-index: -1;
}

#initial-text{
    position: absolute;
    width: 90%;
    height: 20vh;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1%;
    border-radius: 15px;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

#initial-text-change {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    transition: opacity 0.5s ease-in-out;
}

#arrow-down {
    position: absolute;
    bottom: 20px; /* Ajusta la distancia desde abajo */
    left: 50%; /* Coloca la imagen en el centro horizontalmente */
    transform: translateX(-50%); /* Centra horizontalmente la imagen */
    width: 40px; /* Ajusta el ancho de la imagen */
    height: 40px; /* Ajusta la altura de la imagen */
    opacity: 0.8;
    animation: moveDown 2s infinite alternate; /* Animación para mover hacia abajo */
}

@keyframes moveDown {
    0% {
        transform: translateX(-50%) translateY(0); /* Posición inicial */
    }
    100% {
        transform: translateX(-50%) translateY(20px); /* Posición final (20px hacia abajo) */
    }
}

.menu {
    position: absolute;
    top: 20px; /* Ajusta la distancia desde la parte superior */
    right: 20px; /* Ajusta la distancia desde la derecha */
    background-color: #45454544;
    color: #fff;
    display: flex;
    align-items: flex-end; /* Alinea el menú a la derecha */
    padding: 10px;
    border-radius: 5px;
  }
  
  .menu-icon {
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    transition: transform 1s;
  }
  
  .menu-items {
    list-style: none;
    padding: 0;
    display: none;
  }
  
  .menu-items li {
    padding: 10px;
  }
  
  .menu-items li a {
    color: #fff;
    text-decoration: none;
  }
  
  .menu-items li a:hover {
    text-decoration: underline;
  }

/* main */
main{
    width: 100%;
}

/* acerca */
.about{
    width: 100%;
    height: auto; /* Ajustar la altura automáticamente */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.about-cards-container{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2%;
    margin-bottom: 5%;
}

#about-card-nl, #about-card-nuria{
    width: 50%;
    height: 700px;
    border-radius: 20px;
    background-color: rgb(64, 64, 64);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:0 3%;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 43px 8px rgba(0,0,0,0.75);
}

#about-card-nuria > h2{
    font-size: 24px; /* Reducir el tamaño de fuente */
}
#about-card-nuria > p{
    margin-bottom: 10px; /* Espacio inferior entre párrafos */
    font-size: 14px; /* Reducir el tamaño de fuente */
}
#about-card-nl img{
    width: 60%; /* Ancho de imagen */
    margin-bottom: 10px; /* Espacio inferior entre la imagen y el texto */
}

/* Estilos para el contenedor de la imagen en about-card-nuria */
.nuria-img-container {
    position: absolute; /* Posición absoluta para superponer la imagen */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; /* La imagen inicialmente está oculta */
    visibility: hidden; /* Ocultamos la imagen pero mantiene el espacio */
    transition: opacity 0.5s, visibility 0.5s; /* Transición suave */
}

.nuria-img-container > img{
    width: 100%;
    height: auto; /* Ajustar la altura automáticamente */
}

#about-card-nuria:hover .nuria-img-container {
    opacity: 1; /* Mostramos la imagen al hacer hover en about-card-nuria */
    background-color: rgb(108, 108, 108);
    border-radius: 20px;
    visibility: visible; /* Hacemos visible la imagen */
}

#about-card-nl:hover, #about-card-nuria:hover {
    background-color: rgb(108, 108, 108)
}

/* services */

.services{
    width: 100%;
    height: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../media/img/bck-services.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.services-container{
    width: 90%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    padding: 1%;
    background-color: #22222295;
    border-radius: 20px;
    
}

.services-cards-container{
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.services-card{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    background-color: #b2ca898e;

}
.services-card > img{
    width: 15%;
    margin-bottom: 5%;
}

.services-card:hover{
    /* background-color: #88ac26; */
    box-shadow: 0px 0px 47px 11px #87d1088e;
}

.services-text-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 1%;
    
}

#text-explain{
    width: 100%;
    height: 90%;
    
    border-radius: 20px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#linktoweb, #links-repos, #repo-github a, #repo-gitlab a{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

#linktoweb img{
    width: 120px;
}

#links-repos{
  gap: 3%;
}

#repo-github img, #repo-gitlab img{
    width: 35px;
}

.text-click{
  font-size: 15px;
  color: #7AC943;
}

/* projects */

.projects{
    width: 100%;
    height: 850px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.wrapper {
    margin-top: 3%;
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .card {
    width: 20%;
    height: 160px;
    border-radius: 15px;
    padding: 1.5rem;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.4s ease-out;
    margin-bottom: 5%;
  }
  
  .card:hover {
    transform: translateY(20px);
  }
  
  .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
  }
  
  .card:hover:before {
    opacity: 1;
  }
  
  .card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
  }
  
  .card .info {
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s;
  }
  
  .card:hover .info {
    opacity: 1;
    transform: translateY(0px);
  }
  
  .card .info h1 {
    margin: 0px;
  }
  
  .card .info p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
  }
  
  .card .info button {
    padding: 0.6rem;
    outline: none;
    border: none;
    border-radius: 3px;
    background: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease;
  }
  
  .card .info button:hover {
    background: #A2D31C;
  }

  .card .info a{
    text-decoration: none;
    color: black
  }

/* contacto */

.contact{
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("../media/img/back_contact.png");
    background-position: center;
    background-size: cover;
    box-shadow: 0px -10px 22px -3px rgba(0,0,0,0.75);
}
.cal-form-container{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-info{
    width: 40%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #2c2c2c;
    border-radius: 5px 0 0 5px;
    gap: 15%;
}

.contact-info-container #title-info, .contact-info-container #text-info{
 margin: 3% 5%;
}

.contact-info-container #text-info{
  text-align: justify;
}

.contact-info-container #email-section{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2%;
    justify-content: center;
    align-items: center;
}



.contact-info-container #email-section img{
    width: 40px;
}

#social-media{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#social-media .social-link{
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

#social-media .social-img{
  width: 40px;
  height: 40px;
  transition: background-image 0.3s ease;
}

#nl-logo{
  width: 40%;
  margin-top: auto;
  margin-bottom: 2%;
}

.cal-form-container .form{
    width: 60%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    background-color: #95b04a;
    box-shadow: 0px 0px 43px 8px rgba(0,0,0,0.75);
    border-radius: 0 5px 5px 0;
}

#contact-form input{
  width: 50%;
  height: 5%;
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 5px;
  padding: 1%;
  background-color: #2c2c2c;
  color: white;
}

#contact-form input::placeholder, #contact-form textarea::placeholder{
  color: rgb(145, 169, 93);
}

#contact-form textarea{
  width: 60%;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #2c2c2c;
  resize: none;
  padding: 2%;
  color: white;
}

#buttons-form{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#buttons-form button{
  width: fit-content;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-weight: bolder;
}

#buttons-form button[type="submit"]{
  background-color: #bbff00;
}

#buttons-form button[type="submit"]:hover, #buttons-form button[type="reset"]:hover {
  background-color: #668a01;
}

#buttons-form button[type="reset"]{
  background-color: #b6d365;
}

/* footer */

footer{
  box-shadow: inset 0px 10px 22px -3px rgba(0,0,0,0.75);
  width: 100%;
  height: 200px;
  background-color: #2c2c2c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.legal-links, .developer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.legal-links{
  gap: 100px;
}

.legal-links a{
  color: #A2D31C;
  text-decoration: none;
  font-size: 19px;
}

.legal-links a:hover{
  color: #def897;
}

.developer{
  gap: 5px; /*este gap es para separar el texto de desarrollado por nuria liano */
}

.developer span{
  color: #A2D31C;
}

.dev-imgs, .location{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.dev-imgs #beer{
  width: 30px;
  height: auto;
}

.dev-imgs #metal{
  width: 20px;
  height: auto;
}

.location{
  gap: 10px;
  margin-left: 10px;
}

.location #cantabria{
  width: 50px;
}

/* Estilos para pantallas pequeñas (menos de 768px de ancho) */
@media screen and (max-width: 768px) {

 /* general */
.title-section{
  position: relative;
  margin: 2% 0;
}

.title-section::before,
.title-section::after {
content: '';
position: absolute;
top: 50%; /* Posicionamos las líneas en la mitad vertical del título */
width: 60%; /* Ancho de las líneas (puedes ajustarlo según tus preferencias) */
height: 2px; /* Altura de las líneas (puedes ajustarlo según tus preferencias) */
background-color: white; /* Color de las líneas (puedes ajustarlo según tus preferencias) */
}

#initial-text{
  position: absolute;
  width: 90%;
  height: 20vh;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1%;
  border-radius: 15px;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.about{
  width: 100%;
  height: auto; /* Ajustar la altura automáticamente */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-cards-container{
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 5%;
}

#about-card-nl, #about-card-nuria{
  width: 100%;
  height: fit-content;
  border-radius: 20px;
  background-color: rgb(64, 64, 64);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding:0 3%;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 43px 8px rgba(0,0,0,0.75);
}

#about-card-nuria > h2{
  font-size: 24px; /* Reducir el tamaño de fuente */
}
#about-card-nuria > p{
  margin-bottom: 10px; /* Espacio inferior entre párrafos */
  font-size: 14px; /* Reducir el tamaño de fuente */
}
#about-card-nl img{
  width: 60%; /* Ancho de imagen */
  margin-bottom: 10px; /* Espacio inferior entre la imagen y el texto */
}

/* Estilos para el contenedor de la imagen en about-card-nuria */
.nuria-img-container {
  position: absolute; /* Posición absoluta para superponer la imagen */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; /* La imagen inicialmente está oculta */
  visibility: hidden; /* Ocultamos la imagen pero mantiene el espacio */
  transition: opacity 0.5s, visibility 0.5s; /* Transición suave */
}

.services{
  width: 100%;
  height: auto; /* Ajustar la altura automáticamente */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../media/img/bck-services.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.services-container{
  width: 90%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  padding: 1%;
  background-color: #22222295;
  border-radius: 20px;
  gap: 2%;
  
}

.services-cards-container{
  width: 30%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.services-card{
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  background-color: #b2ca898e;

}
.services-card h1 {
  display: none; /* Oculta el texto del h1 en las cards de servicios */
}
.services-card > img{
  width: 60%;
  margin-bottom: 5%;
}

.services-text-container{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 1%;
}


.projects{
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.wrapper {
  margin-top: 3%;
  display: flex;
  width: 90%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  transform: none;
  width: 60%;
}

.card:before {
  opacity: 0;
}

.card:hover:before {
  opacity: 0;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}

.card .info {
  opacity: 0;
  transform: none;
}

.card:hover .info {
  opacity: 0;
}

.card .info h1 {
  margin: 0px;
  opacity: 0;
}

.card .info button {
  opacity: 0;
}

.contact{
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("../media/img/back_contact.png");
  background-position: center;
  background-size: cover;
  box-shadow: 0px -10px 22px -3px rgba(0,0,0,0.75);
}

.cal-form-container{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-info{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2c2c2c;
  border-radius: 5px 0 0 5px;
  gap: 20%;
}

.contact-info-container{
  margin-top: 5%;
}

.contact-info-container #title-info, .contact-info-container #text-info{
  margin: 0;
 }
.contact-info-container #title-info, .contact-info-container #text-info{
  display: none;
}
 .contact-info-container #email-section{
     width: 100%;
     display: flex;
     flex-direction: row;
     gap: 2%;
     justify-content: center;
     align-items: center;
 }
 .contact-info-container #email-section img{
  width: 35px;
}

#nl-logo{
  width: 40%;
  margin-top: 5%;
  margin-bottom: 2%;
}

.cal-form-container .form{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact-form{
  width: 100%;
  height: fit-content;
  padding: 10% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  background-color: #95b04a;
  box-shadow: 0px 0px 43px 8px rgba(0,0,0,0.75);
  border-radius: 0 5px 5px 0;
}

#contact-form input{
  width: 90%;
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 5px;
  padding: 1%;
  background-color: #2c2c2c;
  color: white;
}

#contact-form textarea{
  width: 90%;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #2c2c2c;
  resize: none;
  padding: 2%;
  color: white;
}

footer{
  box-shadow: inset 0px 10px 22px -3px rgba(0,0,0,0.75);
  width: 100%;
  height: fit-content;
  background-color: #2c2c2c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.legal-links, .developer{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.legal-links{
  margin-top: 5%;
  gap: 50px;
}
.legal-links a{
  color: #A2D31C;
  text-decoration: none;
  font-size: 15px;
}

.dev-imgs #beer{
  width: 20px;
  height: auto;
}

.dev-imgs #metal{
  width: 15px;
  height: auto;
}

.location #cantabria{
  width: 45px;
}

}

